<div id='cssmenu'>
  <ul>
    <li><a [routerLink]="['/user/' + uid + '/home']">Home</a></li>
    <li><a [routerLink]="['/user/' + uid + '/post']">Your Posts</a></li>
    <li class='active'><a [routerLink]="['/user/' + uid]">Profile</a></li>
  </ul>
</div>

<div>
  <a [routerLink]="['/user/' + uid + '/new']" class="glyphicon glyphicon-plus my_plus" aria-hidden="true"></a>
</div>

<div class="container">
  <div id="form-main">
    <div id="form-div">
      <form class="montform" id="reused_form" >
        <p class="name">
          <input [(ngModel)]="username" name="name" type="text" class="feedback-input" required placeholder="Name" id="username" />
        </p>
        <p class="email">
          <input [(ngModel)]="email" name="email" type="email" required class="feedback-input" id="email" placeholder="Email" />
        </p>
        <p class="breed">
          <input [(ngModel)]="breed" name="breed" type="text" class="feedback-input" required placeholder="breed" id="breed" />
        </p>
        <p>
        <label class="radio-inline">
          <input type="radio" name="optionsRadios" id="gender" value="male" [(ngModel)]="gender">Boy
        </label>
        <label class="radio-inline">
          <input type="radio" name="optionsRadios" id="gender" value="female" [(ngModel)]="gender">Girl
        </label>
        </p>
        <p class="age">
          <input [(ngModel)]="age" name="age" type="number" class="feedback-input" required placeholder="age" id="age" />
        </p>
        <p class="location">
          <input [(ngModel)]="location" name="location" type="text" class="feedback-input" required placeholder="location" id="location" />
        </p>
        <div class="submit">
          <button (click)="updateUser()" type="submit" class="button">UPDATE</button>
          <div class="ease"></div>
          <button (click)="logout()" class="button "
             [routerLink]="['/login']" >Logout</button>
        </div>
      </form>
      <div id="error_message" style="width:100%; height:100%; display:none; ">
        <h4>
          Error
        </h4>
        Sorry there was an error sending your form.
      </div>
      <div id="success_message" style="width:100%; height:100%; display:none; "> <h2>Success! Your Profile was Sent Successfully.</h2> </div>
    </div>
  </div>
</div>
