<div id='cssmenu'>
  <ul>
    <li><a [routerLink]="['/user/' + userId + '/home']">Home</a></li>
    <li class='active'><a [routerLink]="">Your Posts</a></li>
    <li><a [routerLink]="['/user/' + userId]">Profile</a></li>
  </ul>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-9">
      <br/>
      <br/>
      <br/>
      <div *ngFor="let post of posts">
        <!--<li class="list-group-item">-->

        <div class="row" style="border-top:thick double lightblue;">
          <div class="col-xs-6">
            <img src="../../../../assets/views/images/{{post.pic}}">
          </div>
          <div class="col-xs-6">
            <p>{{post.content}}</p>
            <div class = "bottomRight">

              <button (click)="show(post._id)" class="glyphicon glyphicon-comment fbblue"></button>
              <div *ngIf="comment_showflag_map[post._id]">
                <div *ngFor="let comment of comments.get(post._id)">
                  <p>{{comment.content}}</p>
                </div>
                <textarea [(ngModel)]="new_comment_content_map[post._id]" rows="2" cols="40"></textarea>
                <input (click)="createComment_forOnePost(post._id)" type="submit">
              </div>
            </div>
            <div class = "upRight">
              <a (click)="deletePost(post._id)" class="glyphicon glyphicon-remove"></a>
            </div>

          </div>

        </div>

        </div>

        <!--</li>-->
        <br/>

      </div>
    </div>
  </div>
<div>
  <a [routerLink]="['/user/' + userId + '/new']" class="glyphicon glyphicon-plus my_plus"></a>
</div>
